// app global css in SCSS form

.harf-width {
  width: 50%;
}

.harf-height {
  height: 50%;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.center {
  justify-content: center;
  align-items: center;
}
